<!--_____________________________________________________________________________________________________________________
	Title: Main Layout for ERP Data Interface
	Author: Sean Hinds
	Date: 02/17/18
	Description: Main layout for all views within the ERP Data Interface app. Node express handlebars templating
			engine will insert templates into the body tag
_______________________________________________________________________________________________________________________-->

<!doctype html>
<html>

	<head>

		<!--these tags enable Bootstrap across browsers-->
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Custom styles for this template -->

		<link href="css/theme.css" rel="stylesheet">

		<!--import Bootstrap-->
		<!--Latest compiled and minified CSS -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!--Latest compiled and minified JavaScript -->

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!--Enable jQuery-->



	</head>

	<body>

		<div class="container theme-showcase">

			{{{body}}}

		</div>

		<!-- Bootstrap: core JavaScript-->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../../assets/js/docs.min.js"></script>


		<script src="js/productDOM.js"></script>
		<script src="js/employeeDOM.js"></script>
		<script src="js/DOMcontroller.js"></script>

	</body>

</html>
