<!--_____________________________________________________________________________________________________________________
	Title: Main Layout for ERP Data Interface
	Author: Sean Hinds
	Date: 02/17/18
	Description: Main layout for all views within the ERP Data Interface app. Node express handlebars templating
			engine will insert templates into the body tag
_______________________________________________________________________________________________________________________-->

<!doctype html>
<html>

	<head>

        <!-- import jQuery -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!--these tags enable Bootstrap across browsers-->
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--import Bootstrap-->
		<!--Latest compiled and minified CSS -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!--Latest compiled and minified JavaScript -->

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--Custom styles for this template -->

        <link href="css/theme.css" rel="stylesheet">

	</head>

	<body>

            <!-- Bootstrap: navigation bar -->
		
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="">
                <div class="container">


                    <div class="navbar-header">
            		<a href="/"><img class="icon navbar-left" src="ico/myiconTop.ico" ></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">bioERP</a>

                    </div>

                    <div id="navbar" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-default navbar-right">
                            <li id=""><a href="/data?table=product">Product</a></li>
                            <li id=""><a href="/data?table=batch">Batch</a></li>
                            <li id=""><a href="/data?table=employee">Employee</a></li>
                            <li id=""><a href="/data?table=equipment">Equipment</a></li>
                            <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">     More       <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/data?table=authorization">Authorizations</a></li>
                                <li><a class="dropdown-item" href="/data?table=customer">Customer</a></li>
                                <li><a class="dropdown-item" href="/data?table=experiment">Experiment</a></li>
                                <li><a class="dropdown-item" href="/data?table=purchase">Purchases</a></li>
                                <li role="separator" class="divider"></li>
                            
                                <li><a class="dropdown-item" href="about">About</a></li>
                                <li><a class="dropdown-item" href="contact">Contact</a></li>
                            </ul>  
                        </ul>

                    </div><!--/.nav-collapse -->

                </div>

            </div>

                           
                        
        </nav>
	
		<div class="page-header jumbotron">
	  		<h1 class="container text-center">bioERP Data Interface</h1>
		</div>
		
		<div class="container theme-showcase">

			{{{body}}}

		</div>

        <footer class="page-footer center-on-small-only">

        	<div class="row">

        		<div class="col-md-2"></div>

        		<div class="col-md-7">

		            <div class="">
                            <a href="/data?table=product">Product</a><br>
                            <a href="/data?table=batch">Batch</a><br>
                            <a href="/data?table=employee">Employee</a><br>
                            <a href="/data?table=equipment">Equipment</a><br>
                            <a href="/data?table=authorization">Authorizations</a><br>
                            <a href="/data?table=customer">Customer</a><br>
                            <a href="/data?table=experiment">Experiment</a><br>
                            <a href="/data?table=purchase">Purchases</a><br>
		            </div>

		        </div>

		        <div class="col-md-1">

		            <div>
		                <a href="/"><img class="icon" id="bottomIcon" src="ico/myiconBottom.ico"></a> 
		            </div>

		        </div>

        		<div class="col-md-2"></div>

	        </div>

            <div class="container-fluid text-center">

                <p id="footer-myinfo">
                    <p>Sean Hinds 2018</p>
                    <a href="https://www.github.com/sth144"> Check out my GitHub </a>
                </p>

            </div>

        </footer>


		<!-- Bootstrap: core JavaScript-->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../../assets/js/docs.min.js"></script>

		<script src="js/csvExport.js"></script>
		<script src="js/DOMcontroller.js"></script>

	</body>

</html>
