<!doctype html>
<html>
  <body>
  	<div class="jumbotron">
  		<h1>bioERP Data Interface</h1>
  	</div>

  	<div id="tableForms">
  		Table Forms Here
  	</div>

    <table class="table">
    	<thead>
    		<!-- Dynamic column headers using number of keys in result -->
    		{{#if results.[0]}}
 		   		{{#with results.[0]}}
 		   			{{#each this}}
 		   				<th>{{@key}}</th>
 		   			{{/each}}
 		   		{{/with}}
 		   	{{/if}}
    	</thead>
	    <tbody>
	      {{#each results}}
	      	<tr>
	      		{{#each this}}
	      			<td>{{this}}</td>
	      		{{/each}}
	      		<td>
	      			<form method="GET" action="/delete">
	      				<input type="hidden" name="id" value="{{id}}">
	      				<button onclick="submit">Delete</button>
	      			</form>
	      		</td>
	      	</tr>
	      {{/each}}
	    </tbody>
	 </table>
  </body>
</html>
