<!doctype html>
<html>
  <body onload="">

	<h1 id="model-header" class="text-center">{{model}}</h1>

  	<div class="row">
  		<div class="col-md-2 align-top">
	  		<div id="tableForms"></div>
	  	</div>
	  	<div class="col-md-8 align-top">

	  	<h1>An ERP Database Application for Biopharmaceutical Manufacturing</h1>
	  	<p>Use this app to track enterprise resources including labor, inventory, and capital.
	  	Tables can be exported into .csv files for further analysis.</p>

	   	</div>
	   	<div class="col-md-2 align-top">
	  		<div id="tableForms2"></div>
	  	</div>
	</div>
	<div id="bottom-button"></div>
  </body>
</html>
