html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 340px;		/* must be > footer height for responsive footer */
}

footer {
	position: absolute;
	padding-top: 3%;
	bottom: 0;
	/*padding:30px;*/
	height: 290px;
	width: 100%;
}

footer, .page-header {
	background-color: #DDFFFF;
	margin-top: 52px;
}

nav {
	padding: 5px;
}

.icon {
	height: 50px;
	width: 50px;
}

.my-form {
	/*padding: 32px;
	border: 1px solid #DDDDDD;*/
}

#editForm {
	margin: 20px;
}

#tab {
	margin-bottom: 46px;
}

#bottom-button {
	text-align: center;
}