/***************************************************************************************************
  Title: Theme for bioERP Data Interface
  Author: Sean Hinds
  Date: 03/13/18
  Description: Custom stylesheet for the bioERP Data Interface application. Bootstrap provides basic
  				styling.
***************************************************************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 340px;		/* must be > footer height for responsive footer */
}

footer {
	position: absolute;
	padding-top: 3%;
	bottom: 0;
	/*padding:30px;*/
	height: 290px;
	width: 100%;
}

footer, .page-header {
	background-color: #DDEEEE;
	margin-top: 52px;
}

nav {
	padding: 5px;
}

.navbar {
	background: #FFFFFF;
}

.carousel {
	width: 76%;
	margin: auto;
}

.carousel-inner {
	margin-top: 212px;
}

.center-block {
	width: 100%;
}

.navbar-dark {
	background-color: #99CCCC;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: #454545;
}

.icon {
	height: 50px;
	width: 50px;
}

.my-form {
	/*padding: 32px;
	border: 1px solid #DDDDDD;*/
}

.my-img {
	margin-top: 14%;
	height: 94%;
	width: 94%;
}

.text-light {
	color: #FFFFFF;
}

#editForm {
	margin: 20px;
}

#tab {
	margin-bottom: 46px;
}

#body-container {
	width: 90%;
}

#bottom-button {
	text-align: center;
}

#carousel-example-generic {
	text-align: center;
}